body{
    text-align: center;
}

.btn {
    width: 200px;
    height:200px;
    border-radius: 20%;
    border: 8px solid black;
    margin: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: lightblue;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: pink;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: brown;
}